<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<title><%= title %></title>
	<link href="/stylesheets/uploadifive.css" rel="stylesheet">
	<link href="/stylesheets/style.css" rel="stylesheet">
	<script src="/javascripts/player.js"></script>
	<script src="/javascripts/jquery-1.7.1.min.js"></script>
	<script src="/javascripts/jquery.uploadifive.js"></script>
	<script src="/javascripts/master.js"></script>
</head>
<body>
	<div id="page">
		<div id="player">
			<div id="player-container">
				<div class="progress">
                    <div class="play-bar"></div>
                    <div class="loaded-bar"></div>
				</div>
				<div id="player-controls">
					<div class="jp-volume-bar">
						<div class="jp-volume-bar-value"></div>
					</div>
					<a href="javascript:;" class="jp-mute" title="Mute">Mute</a>
					<ul>
						<li class="jp-stop stopped"><a href="javascript:;" title="Stop"></a></li>
						<li class="jp-prev"><a href="javascript:;" title="Previous"></a></li>
						<li class="jp-play pause"><a href="javascript:;" title="Play"></a></li>
						<li class="jp-next"><a href="javascript:;" title="Next"></a></li>
						<li class="jp-upload"><input id="music-file" type="file" name="musicFile" multiple="true" title="Upload" /></li>
					</ul>
				</div><!-- end player-controls -->
			</div><!-- end player-container -->
			<div id="player-list">
				<ul>
					<% for (var i=0; i<musics.length; i++) { %>
					<li data-id="<%= musics[i].id %>" class="<% if (i==0) { %><%= 'selected ' %><%}%>" data-url="<%= musics[i].targetName %>">
						<span class="num"><%= i+1 %>.</span>
						<span class="name"><%= musics[i].artist %> - <%= musics[i].name %></span>
						<span class="duration"></span>
					</li>
					<% } %>
				</ul>
			</div><!-- end player-list -->
		</div><!-- end player -->
		<div id="queue"><p class="note">Drap and drop mp3 files here and click the upload button.</p><button>Upload</button></div>
        <div id="spectrum">
            <canvas id="spectrum-canvas" width="454" height="200"></canvas>
        </div>
	</div><!-- end page -->
</body>
</html>